  .dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }

.border {
    display: flex;
    flex-direction: row;
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    border: 1px solid;
    border-color: #ded9d9;
  }
