#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.page-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100vh;
}


.title h1 {
  display: flex;
  flex-direction: column;
  font-size: 6vw;
  line-height: 1.2;
  margin: 0;
  align-items: start;
}

@media screen and (max-width: 1200px) {
  .title h1 {
    font-size: 72px;
  }

}


/* I'm Sam + icons */
.title-icon { 
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10vw;
}

/* Github, Instagram, LinkedIn icons */
.profile-icons {
  display: flex;
  margin-top: 1vw;
  gap: 1em;
}

button.gh-icon { background: url(/github.svg) no-repeat}
button.ig-icon { background: url(/instagram.svg) no-repeat}
button.ln-icon { background: url(/linkedin.svg) no-repeat}

button.gh-icon, button.ig-icon, button.ln-icon{
  width: 4.2em;
  height: 4.2em;
  background-size: contain;
  border: none; 
  cursor: pointer;
}

button.gh-icon:focus, button.gh-icon:active,
button.ig-icon:focus, button.ig-icon:active,
button.ln-icon:focus, button.ln-icon:active {
  outline: none;
}

.page-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


